<form class="p-3 shadow p-3 mb-5 bg-white rounded">

  <!-- Titre de la TODO liste  -->
  <ng-content></ng-content>

  <!-- Ajout  d'une nouvelle tache à la TODO liste-->
  <div class="form-group my-3 d-flex justify-content-arround">
    <input type="input" class="form-control" name="todo" [(ngModel)]="todo.message">
    <button type="submit" class="btn btn-primary" (click)="add()"><i class="fas fa-plus"></i></button>
  </div>

  <!-- Checkbox global et label -->
  <div class="py-4 d-flex justify-content-arround">
    <input type="checkbox" name="check-all"  [(ngModel)]="isAllCheked" (change)="checkAll()">
    <div class="ml-2 w-100 text-center font-weight-light font-italic text-monospace">TITLE</div>
  </div>

  <!-- liste des todos -->
  <app-todo *ngFor="let todo of todos" [todo]="todo"></app-todo>

  <!-- bouton supprimer global-->
  <div class="form-group my-3 d-flex justify-content-end">
    <button type="submit" class="btn btn-danger" (click)="deleteChecked()"><i class="fas fa-trash-alt"></i></button>
  </div>
</form>
